<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- <context:annotation-config/> -->
	<!-- 加载配置文件 -->
<!-- 	<context:property-placeholder location="classpath*:/application.properties" /> -->
	<!-- <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:application.properties" />
	</bean> -->

	<!-- 使用Annotation自动注册Bean,只扫描@Controller -->
<!-- 	<context:component-scan base-package="com.jc" -->
<!-- 		use-default-filters="false"> -->
<!-- 		<context:exclude-filter type="annotation" -->
<!-- 			expression="org.springframework.stereotype.Controller" /> -->
<!-- 	</context:component-scan> -->

	<!-- 开启AOP监听 只对当前配置文件有效 -->
<!-- 	<aop:aspectj-autoproxy expose-proxy="true" /> -->

	<!-- 数据源 -->
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@11.11.165.125:1521/nosmis" />
		<property name="username" value="nosms" />
		<property name="password" value="nosms" />
	</bean> -->


</beans>